body{
    background-color: #e1dad0;
    margin: 0;
    font-family: Poppins;
    font-size: 15px;
}
header .logo img{
    height: 50px;
}
header{
    width: 1140px;
    max-width: 90%;
    margin: auto;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav{
    display: flex;
    gap: 40px;
}
header nav a{
    text-decoration: none;
    color: #eee;
    font-weight: 500;
}